@model LoginUser

<div class="container mb-3">
    <h3>Login</h3>
</div>

<partial name="_Notification" />

<div>
    <div class="container">
        <form method="post" action="Login">

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" asp-for="Username" id="username" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" asp-for="Password" id="password" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </div>
</div>