@model RegisterUser

<div class="container mb-3">
    <h3>Register</h3>
</div>

<div>
    <div class="container">
        <form method="post" action="Register">

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" asp-for="Username" id="username"/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="text" asp-for="Email" id="email" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" asp-for="Password" id="password" />
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

        </form>
    </div>
</div>
