@using ShrimplyMVC.Models.Domain;

@model IEnumerable<Shrimp>

<div class="container mb-3">
    <h3>Shrimps</h3>
</div>

<partial name="_Notification" />

<div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shrimp in Model)
                {
                    <tr>
                        <td>@shrimp.Id</td>
                        <td>@shrimp.Name</td>
                        <td>
                            <a class="btn btn-primary"
                           asp-controller="Shrimp" asp-action="Edit" asp-route-id="@shrimp.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>